@model LoginViewModel

<div class="row">
    <div class="col-12 col-md-6 col-lg-4">
        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger">
                @TempData["Error"]
            </div>
        }

        <form asp-action="Login" method="post">
            @Html.AntiForgeryToken()

            <h1>Login</h1>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group mb-3">
                <label class="form-label">E-mail:</label>
                <input type="text" class="form-control" asp-for="Email"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label class="form-label">Wachtwoord:</label>
                <input type="password" class="form-control" asp-for="Password"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary mb-3">Login</button>
        </form>
    </div>
</div>
