@model Account

<h1>Account verwijderen</h1>
<p>Weet u zeker dat u het account van <strong>@Model.Name</strong> wilt verwijderen?</p>

<form asp-action="DeletePost" method="post" class="d-inline">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />

    <button type="submit" class="btn btn-danger">Verwijderen</button>
</form>

<a class="btn btn-secondary" asp-action="Index">Annuleren</a>