@{
    ViewData["Title"] = "Home Page";
}

<div class="row justify-content-center">
    <div class="col-8">
        <header id="home-header" class="p-4 mb-3">
            <h2>Boek een beestje</h2>
            <p>
                Welkom bij 'Beestje op je feestje'. Hier kun je een of meerdere van onze dieren
                boeken voor op jouw feestje! Kies de datum van jouw feestje, en wij zorgen dat er
                een beestje bij jou op de stoep staat.
            </p>
        </header>
        
        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success">
                @TempData["Success"]
            </div>
        }

        <form asp-controller="Booking" asp-action="StartBooking" method="post">
            <input type="date" name="date" class="form-control mb-3" />
            
            <button type="submit" class="btn btn-primary">Boeken</button>
        </form>
    </div>
</div>