@import "step-overview.css";
@import "animal-selection.css";

.animal {
    border: 1px solid lightgrey;
}

.animal:hover {
    background-color: lightgrey;
}

.animal-image {
    width: 60px;
    margin: auto;
}

.animal-not-available {
    background-color: #eeeeee;
}